
*{
    --gap: 1rem;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* outline: 1px solid red; */
}

.main{
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(245, 245, 245);
}

.left-side{
    flex: 1 1 auto;
    min-height: 100vh;
    margin: 0;
    position: relative;
    width: 80%;
    background-image: url(../Assets/background.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.logo{
    background-color: rgba(0, 0, 0, 0.7);
    color:white;
    display: flex;
    margin: 20vh 0 0 0;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.right-side{
    flex: auto;
}
.padding{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.dummy-text{
    width: 90%;
    font-size: 1rem;
    margin: 2rem 0 1rem;
}

.dummy-text p:last-child{
    margin: 2rem 0 1rem;
}

.form-title{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
}

.input-form{
    background-color: white;
    box-shadow: 0 10px 10px -10px rgb(106, 106, 106);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 1rem 1.5rem 2rem;
}

.inputs{
    display:flex;
    flex: auto;
    min-width: 40%;
    flex-flow: column wrap;
}

input{
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

input:focus{
    border: 1px solid #3285d7;
    outline: none;
    box-shadow: 0 2px 10px -10px rgb(106, 106, 106);
}

.btn-submit{
    background: none;
    border: none;
    border-radius: 8px;
    padding : 17px 30px;
    font-size: 1rem;
    background-color: #665df5;
    color: white;
    cursor: pointer;
    margin: 1rem;
}

.btn-submit:hover{
    background-color: #544af4;
}

img{
    height: 5em;
}

@media only screen and (max-width: 600px) {
    .main{
        flex-flow:column wrap;
    }
    .left-side{
        justify-content: center;
        align-items: center;
        min-height: 0;
        width: 100%;
    }
    .logo{
        margin: 0;
    }
  }